/* здесь используйте глобальные селекторы img, body, html и так далее*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $lato-font;
  font-size: 16px;
  line-height: 24px;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

/*-- Липкий хедер  --*/
html,
body {
  height: 100%;
}
