@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap; //управление отображением
    src: $font-src format("woff2");
  }
}
/*
@mixin padding-container($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
*/

@mixin container-modile {
  padding-right: 20px;
  padding-left: 20px;
}

@mixin container-tablet {
  padding-right: 33.5px;
  padding-left: 30px;
}

@mixin container-desktop {
  padding-right: 110px;
  padding-left: 110px;
}

@mixin reset-list {
  list-style: none;
  text-decoration: none;
  border: none;
}
