.about-product h2 {
  font-family: $oswaid-font;
  color: $font-black;
  font-size: 36px;
  line-height: 40px;
}

.about-product__item {
  position: relative;

  p {
    font-family: $lato-font;
    color: $font-grey;
    font-size: 14px;
    line-height: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
  }

  &-leaf::before {
    background-image: url("../../images/icons/stack.svg#icon-leaf");
    background-size: 30px 32px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-food::before {
    background-image: url("../../images/icons/stack.svg#icon-food");
    background-size: 26px 29px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-eat::before {
    background-image: url("../../images/icons/stack.svg#icon_eat");
    background-size: 25px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-watch::before {
    background-image: url("../../images/icons/stack.svg#icon-watch");
    background-size: 26px 31px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
