.address-title h2 {
	font-family: $oswaid-font;
	color: #111111;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}

.address-title__address p {
	font-family: $lato-font;
	color: #444444;
	font-size: 14px;
	line-height: 20px;
	font-style: normal;
}