.catalog-product {
  h1 {
    font-family: $oswaid-font;
    color: $font-black;
    font-size: 36px;
    line-height: 36px;
  }
}

.catalog-product__list {
  text-decoration: none;

  h3 {
    font-family: $oswaid-font;
    color: #222222;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  dl {
    font-family: $lato-font;
    color: $font-grey;
    font-size: 12px;
    line-height: 16px;
  }
}

.catalog-product__item {
  position: relative;

  p {
    font-family: $lato-font;
    color: $font-grey;
    font-size: 12px;
    line-height: 16px;
  }
}

.catalog-product__title {
  font-family: $oswaid-font;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#plus");
  }
}
