.fieldsets legend {
	font-family: $oswaid-font;
	color: #000000;
	font-size: 24px;
	line-height: 26px;
}

.fieldsets label {
	font-family: $oswaid-font;
	color: #444444;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.fieldsets input {
	padding: 14px 0 13px 15px;
}


.fieldsets input::placeholder {
	font-family: $oswaid-font;
	color: #444444;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.fieldsets textarea {
	font-family: $oswaid-font;
	color: #444444;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 14px 0;
}