.fieldsets {
  font-family: $oswaid-font;
  border: none;

  legend {
    color: $font-black;
    font-size: 24px;
    line-height: 26px;
  }

  label {
    font-family: $oswaid-font;
    color: $font-grey;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  input {
    padding: 17px 0 11px 15px;
  }

  input::placeholder {
    font-family: $oswaid-font;
    color: $font-grey;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  textarea {
    font-family: $oswaid-font;
    color: $font-grey;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 14px 0;
    width: 100%;
    padding-left: 14px;
  }
}

@media (min-width: $tablet-width) {
  .fieldsets {

    legend {
      font-size: 36px;
      line-height: 100%;
    }

    label {
      font-size: 20px;
      line-height: normal;
    }

    input {
      padding: 21px 0 14px 20px;
    }

    input::placeholder {
      font-size: 20px;
      line-height: normal;
    }

    textarea {
      font-size: 20px;
      line-height: 150%;
      height: 175px;
      margin-left: 40px;
    }
  }
}

@media (min-width: $desktop-width) {}


