.fieldsets {
  font-family: $oswaid-font;

  legend {
    color: $font-black;
    font-size: 24px;
    line-height: 26px;
  }

  label {
    font-family: $oswaid-font;
    color: $font-grey;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  input {
    padding: 14px 0 13px 15px;
  }

  input::placeholder {
    font-family: $oswaid-font;
    color: $font-grey;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

  textarea {
    font-family: $oswaid-font;
    color: $font-grey;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 0;
  }
}
