.footer {
  background-color: $background-color-ligth-grey;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  @include container-modile;
}

.footer__logo {
  width: 128px;
  height: 24px;
  background-color: #111111;
  mask-image: url("../../images/icons/stack.svg#logo-footer");

  &:hover {
    background-color: #3e3e3e;
  }

  &:focus {
    background-color: #3e3e3e;
  }

  &:active {
    background-color: #6b6b6b;
  }
}

.footer__decor-line {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 43px;
    background-color: #d9d9d9;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    @include container-tablet;
     padding: 61.5px 0;
  }

 .footer-container {
  flex-direction: row;
  justify-content: space-between;
  gap: 0;

  &::after {
      background-color: transparent;
    }

  &::before {
    background-color: transparent;
  }
 }
}

@media (min-width: $desktop-width) {}
