.form-request {
  font-family: $oswaid-font;
  color: $font-black;

  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.form-request__form fieldset {
  border: none;
}

.form-request__required-fields {
  font-family: $lato-font;
  color: $font-black;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
