.html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include reset-list;

  p {
    font-family: $oswaid-font;
    color: $font-grey;
    font-size: 16px;
    line-height: 20px;
  }

  .html-academy__icon {
    color: $color-for-social-media;
  }

  &:hover .html-academy__icon {
    color: $basic-green;
  }

  &:focus .html-academy__icon {
    color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .html-academy {
    width: 170px;
  }
}
