.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.promo__title {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../images/index-background-desktop-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 27px 0 164px 0;
  position: relative;
  z-index: -1;

  margin-bottom: 138px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85);
  }

  h1 {
    font-family: $oswaid-font;
    text-align: center;
    color: $font-white;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 25px;
    padding: 0 35px;
  }

  p {
    font-family: $oswaid-font;
    text-align: center;
    color: $font-white;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 0 35px;
  }
}

.promo__image {
  position: absolute;
  bottom: 60px;
}

.promo__button {
  padding: 10px 10px;
  margin-bottom: 20px;
}



